/* Fixed title */
.Fixed_Title{
  text-align: center;
  position: fixed;
  word-spacing: 2em;
  width:100%;
  font-size: 100%;
  height:auto;
  z-index: 1000000000000000000000000000000000000000000000000000000000000000000000;
  background-color: white;
  padding-bottom:0.5%;
  opacity: 0.9;
  height: auto;
  cursor: pointer;
}

.CLogo{
  width: 60px;
  height: 60px;
  position: relative;
  right:7%;
  top: 20px;
  transition: .2s;
  animation: CLogo 0.7s ease-in forwards;
}

@keyframes CLogo {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(-360deg);
  }
}

.CLogo:hover{
  animation-name: spin;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  margin-top: 1%;
  width: 70px;
  height: 70px;
}


@keyframes spin{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



.CCircle{
  border-radius: 50px;
  width: 34px;
  height: 34px;
  padding: 8px;
  background: #ABFCE2;
  color: white;
  text-align: center;
  }

.CircleAnimation{
  display: inline-block;
  transition: .2s;
}

.CircleAnimation:hover{
  transform: scale(1.2);
  color:White;
}

.CCircle:Hover{
  background: #29f0af;
}

a{
	color:inherit;
	text-decoration: none;
}

a:hover{
  color: #727474;
}

.navigationbar {
	position: relative;
  display:inline-block;
	width: 280px;
	height: 47px;
	background: #e6fff9;
	border-radius: 35px;
	border: solid #e6fff9 5px;
  bottom: 10px;
  font-size: 2em;
}
.navigationbar a{
	font-size: 13px;
	color: #191C1F;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
	margin-top: -3%;
}
.navigationbar .animation{
	position: absolute;
	margin-bottom: 0.5%;
	width: 110%;
	height: 100%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: white;
	border-radius: 35px;
	transition: all .5s ease 0s;
}
.navigationbar a:nth-child(1){
	width: 100px;
}
.navigationbar .start-home, a:nth-child(1):hover~.animation{
	width: 110px;
	left: 5px;
}
.navigationbar a:nth-child(2){
	width: 110px;
}
.navigationbar a:nth-child(2):hover~.animation{
	width: 110px;
	left: 162px;
}

/*ABOUT*/
.SquareNavbar1{
  transition: .2s;
  padding: 10px;
}

.SquareNavbar1:hover{
  border: solid 1pt #e694f2;
  padding: 8px;
  color:White;
  transform: scale(1.2);
  border-radius: 50px;
  background: #e694f2;
}

/*BLOG*/
.SquareNavbar2{
  transition: .2s;
  padding: 10px;
}

.SquareNavbar2:hover{
  border: solid 1pt #c59cf7;
  padding: 8px;
  transform: scale(1.2);
  color:White;
  border-radius: 50px;
  background: #c59cf7;
}

/*SUPPORT*/
.SquareNavbar3{
  transition: .2s;
  padding: 10px;
}

.SquareNavbar3:hover{
  border: solid 1pt #9ea1f7;
  padding: 8px;
  transform: scale(1.2);
  color:White;
  border-radius: 50px;
  background: #9ea1f7;
}

/*SIGNUP*/
.SquareNavbar4{
  transition: .2s;
  padding: 10px;
}

.SquareNavbar4:hover{
  border: solid 1pt #a6dff7;
  padding: 8px;
  background: #a6dff7;
  transform: scale(1.2);
  color:White;
  border-radius: 50px;
}
